body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  border: solid black 8px;
  justify-content: center;
  align-items: center;
}

.display {
  border: solid black 2px;
  align-self: stretch;
  text-align: right;
  padding: 16px 24px;
}

.row {
  display: flex;
  flex: 1;
}

button {
  flex: 1;
  width: 25%;
  border: solid black 2px;
  padding: 20px;
}
